
.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    /* border-bottom: 1px solid #000000; */
}

.buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.table_border {
    border: 1px solid #000000;
    border-radius: 10px;
    height: 100%;
    margin: 0 10px;
}

.table {
    table-layout: fixed;
    max-width: 900px;
    vertical-align: middle;
}

.board_tr {
    display: flex;
    padding: 8px 8px 0 8px;
}

.board_col {
    padding: 10px;
    /* width: 100%; */
}

.input_box_style {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.button_style {
    border: 1px solid #000000;
}

.border_bottom {
    border-bottom: 1px solid black;
}

.time_style_top {
    display: flex;
}

.time_style {
    display: flex;
    padding: 10px;
}

.bottom_padding {
    padding-bottom: 10px;
}