body {
    color: black;
    background-color: white;
}
  
[data-theme="dark"] body {
    color: white;
    background-color: black;
}

[data-theme="dark"] .table_border {
    border: 1px solid white;
}

[data-theme="dark"] .Button {
    background-color: blue;
    color: white;
}

[data-theme="dark"] .Select {
    color: white;
}

.top_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1980px;
}

.top {
    display: flex;
    flex-direction: column;
}

.buttons_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.button_padding {
    padding: 0 10px;
}

.table_border {
    border: 1px solid #000000;
    border-radius: 10px;
    height: 100%;
    margin: 0 10px;
}

.table {
    table-layout: fixed;
    max-width: 900px;
    vertical-align: middle;
}

.board_tr {
    display: flex;
    padding: 8px 8px 0 8px;
}

.board_col {
    padding: 10px;
    /* width: 100%; */
}

.input_box_style {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.top_button_style {
    padding: 0 10px;
    font-size: 20px;
}

.wind_unit_margin {
    margin-left: 5px;
}

.button_style {
    border: 1px solid #000000;
}

.border_bottom {
    border-bottom: 1px solid black;
}

.time_style_top {
    display: flex;
    padding: 10px 0 15px 0;
}

.time_style {
    display: flex;
    /* padding: 10px; */
    padding-right: 10px
}

.bottom_padding {
    padding-bottom: 10px;
}

.side_bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 250px;
}

.aqi_box_style {
    padding: 10px;
    border-radius: 9px;
}

.aqi_good {
    background-color: green;
    color: white;
}

.aqi_moderate {
    background-color: yellow;
    color: black;
}

.aqi_unhealthy_sensitive {
    background-color: orange;
    color: black;
}

.aqi_unhealthy {
    background-color: red;
    color: white;
}

.aqi_very_unhealthy {
    background-color: purple;
    color: white;
}

.aqi_hazardous {
    background-color: maroon;
    color: white;
}

.aqi_style {
    font-weight: bold;
    padding: 10px;
}